@import './const.scss';
@import './reset.scss';

:global {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: $theme-background;
  }
  .main-container{
    width:1130px;
    margin:0 auto;
  }
}
